<?xml version="1.0"?>
<!--
/**
* @category   Rbm
* @package    Rbm_GoogleRemarketing
* @author     reinaldorock@gmail.com
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>
    <modules>
        <Rbm_GoogleRemarketing>
            <version>1.0.0</version>
        </Rbm_GoogleRemarketing>
    </modules>
    <global>
        <blocks>
            <rbmGoogleRemarketing>
                <class>Rbm_GoogleRemarketing_Block</class>
            </rbmGoogleRemarketing>
        </blocks>
        <models>
            <rbmGoogleRemarketing>
                <class>Rbm_GoogleRemarketing_Model</class>
            </rbmGoogleRemarketing>
        </models>
        <helpers>
            <rbmGoogleRemarketing>
                <class>Rbm_GoogleRemarketing_Helper</class>
            </rbmGoogleRemarketing>
        </helpers>
    </global>
    <frontend>
        <events>
            <sales_model_service_quote_submit_success>
                <observers>
                    <rbm_googleRemarketing_quote_submit_success>
                        <type>singleton</type>
                        <class>rbmGoogleRemarketing/Observer</class>
                        <method>quoteSubmitSuccess</method>
                    </rbm_googleRemarketing_quote_submit_success>
                </observers>
            </sales_model_service_quote_submit_success>
        </events>
    </frontend>
    <default>
        <rbmGoogleRemarketing>
            <config>
                <product_identifier>id</product_identifier>
            </config>
            <ecomm_page_type>
                <homeCustomPath>
                    <![CDATA[/]]>
                </homeCustomPath>
                <searchResultsCustomPath>
                    <![CDATA[/catalogsearch/result/*]]>
                </searchResultsCustomPath>
                <cartCustomPath>
                    <![CDATA[/checkout/cart/*]]>
                </cartCustomPath>
                <purchaseCustomPath>
                    <![CDATA[/checkout/onepage/success]]>
                </purchaseCustomPath>
            </ecomm_page_type>
        </rbmGoogleRemarketing>

    </default>
</config>
