<?xml version="1.0"?>
<!--
/**
* @category   Rbm
* @package    Rbm_GoogleRemarketing
* @author     reinaldorock@gmail.com
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>
    <modules>
        <Rbm_GoogleRemarketing>
            <version>1.0.0</version>
        </Rbm_GoogleRemarketing>
    </modules>
    <global>
        <blocks>
            <rbmGoogleRemarketing>
                <class>Rbm_GoogleRemarketing_Block</class>
            </rbmGoogleRemarketing>
        </blocks>
        <models>
            <rbmGoogleRemarketing>
                <class>Rbm_GoogleRemarketing_Model</class>
            </rbmGoogleRemarketing>
        </models>
        <helpers>
            <rbmGoogleRemarketing>
                <class>Rbm_GoogleRemarketing_Helper</class>
            </rbmGoogleRemarketing>
        </helpers>
    </global>
    <frontend>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <rbm_googleRemarketing_onepage_success>
                        <class>rbmGoogleRemarketing/observer</class>
                        <method>setOrderOnSuccessPage</method>
                    </rbm_googleRemarketing_onepage_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <rbm_googleRemarketing_multishipping_success>
                        <type>singleton</type>
                        <class>rbmGoogleRemarketing/observer</class>
                        <method>setOrderOnSuccessPage</method>
                    </rbm_googleRemarketing_multishipping_success>
                </observers>
            </checkout_multishipping_controller_success_action>             
        </events>
        <layout>
            <updates>
                <Rbm_GoogleRemarketing>
                    <file>rbm-google-remarketing.xml</file>
                </Rbm_GoogleRemarketing>
            </updates>
        </layout>
    </frontend>
    <default>
        <rbmGoogleRemarketing>
            <config>
                <product_identifier><![CDATA[id]]></product_identifier>
            </config>
            <ecomm_page_type>
                <homeCustomPath>
                    <![CDATA[/]]>
                </homeCustomPath>
                <searchResultsCustomPath>
                    <![CDATA[/catalogsearch/result/*]]>
                </searchResultsCustomPath>
                <cartCustomPath>
                    <![CDATA[/checkout/cart/*]]>
                </cartCustomPath>
                <purchaseCustomPath>
                    <![CDATA[/checkout/onepage/success/*]]>
                </purchaseCustomPath>
            </ecomm_page_type>
        </rbmGoogleRemarketing>

    </default>
</config>
