<?xml version="1.0" ?>
<config>
    <tabs>
        <rbm translate="label" module='adminhtml' >
            <label>Reinaldo Mendes</label>
            <sort_order>410</sort_order>
        </rbm>
    </tabs>
    <sections>
        <rbmGoogleRemarketing translate="label" module="rbmGoogleRemarketing">
            <tab>rbm</tab>
            <label>Google Adword Remarketing Tag</label>
            <frontend_type>text</frontend_type>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <config>
                    <label>Configurations</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>9</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <enabled>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Enable this module]]></comment>
                        </enabled>
                        <conversion_id>
                            <label>Conversion Id</label>
                            <frontend_type>text</frontend_type>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <comment><![CDATA[Please enter a valid number]]></comment>
                            <validate>required-entry</validate>
                            <validate>validate-number</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </conversion_id>
                        
                        <product_identifier>
                            <label>Product Identifier</label>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <frontend_type>select</frontend_type>
                            <source_model>rbmGoogleRemarketing/system_config_source_productIdentifier</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_identifier>
                        
                        <debug>
                            <label>Debug enabled</label>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <frontend_type>select</frontend_type>                            
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Enable console informations about window.google_tag_params]]></comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store> 
                        </debug>

                    </fields>
                </config>
                <ecomm_page_type>
                    <label>Page types</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <comment><![CDATA[<p style='color:#c00'>
                            Page type paths. 
                            <strong>*</strong> wildcard is permited . 
                            <br/>
                            Only use if you have custom paths on magento, like a custom search etc...
                            <br/>
                            Ex: <br/>
                            <ul style='text-indent:15px; color:#c00;'> 
                                <li>
                                    home : /home/ 
                                </li>
                                <li>
                                    catalogSearch: /catalog/search/results/*
                                </li>
                                <li>
                                    checkoutCart: /custom/cart/*
                                </li>
                            </ul>
                        </p>
                        ]]></comment>
                    <fields>
                        <useHomeCustom>
                            <label>Use custom home page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </useHomeCustom>
                        <homeCustomPath>
                            <label>Home Page Path</label>
                            <frontend_type>text</frontend_type>
                            <depends>
                                <useHomeCustom>1</useHomeCustom>
                            </depends>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </homeCustomPath>
                        <useSearchResultsCustom>
                            <label>Use custom search page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </useSearchResultsCustom>
                        <searchResultsCustomPath>
                            <label>Search Result Custom Path</label>
                            <frontend_type>text</frontend_type>
                            <depends>
                                <useSearchResultsCustom>1</useSearchResultsCustom>
                            </depends>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </searchResultsCustomPath>
                        
                         <useCartCustom>
                            <label>Use custom cart page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </useCartCustom>
                        <cartCustomPath>
                            <label>Search Result Page</label>
                            <frontend_type>text</frontend_type>
                            <depends>
                                <useCartCustom>1</useCartCustom>
                            </depends>
                            <sort_order>31</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cartCustomPath>
                        
                         <usePurchaseCustom>
                            <label>Use custom success page (Purchase)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </usePurchaseCustom>
                        <purchaseCustomPath>
                            <label>Search Result Page</label>
                            <frontend_type>text</frontend_type>
                            <depends>
                                <usePurchaseCustom>1</usePurchaseCustom>
                            </depends>
                            <sort_order>41</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </purchaseCustomPath>
                    </fields>
                </ecomm_page_type>
            </groups>
        </rbmGoogleRemarketing>
    </sections>
</config>
